.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 50rem;
}

.postsTitle {
  flex: 1;
  color: lightgrey;
  letter-spacing: 0.1rem;
}

.postsList {
  flex: 1;
}